<?xml version="1.0" ?>
<rules>
   <rule name="ozdao_ouzero" stopProcessing="true">
      <match ignoreCase="false" url="."/>
      <conditions>
         <add ignoreCase="false" input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
         <add ignoreCase="false" input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
      </conditions>
      <action type="Rewrite" url="/index.php"/>
   </rule>
</rules>